{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'images/MLSA_badge.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="{% static '/login/manifest.json' %}" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>MLSA Recruitement Test</title>
    <link rel="shortcut icon" href="{% static 'images/msp-logo.png' %}" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script language = "javascript" type = "text/javascript">
      function clearLS() {
        window.localStorage.clear();	
      }
      window.onload = clearLS;
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static '/FINISH/thankYou.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" style="height: 100%">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" 
      style="background-color: black !important;">
        <a class="navbar-brand" href="#">
          <img
            id="nav-image"
            src="{% static '/images/MLSA_logo.png' %}"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link">BITS Pilani chapter</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="thankYouDeck">
      <div class="thankYouCircle">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text mb-4" style="text-align: center;">Thank You for visiting us.</h1>
              <h1 class="text-sm" style="text-align: center;">
                We hope you had an enjoyable experience.
                <br>
                <br>
                If you want to meet the team, just scroll down
                <br>
                <br>
                <br>
                <a href="#teamID"><i class="fa fa-angle-double-down" style="font-size: 50px;"></i></a>
              </h1>
            </div>
          </div>
        </div>
      </div>
      
      <div class="teamContainer" id="teamID">
        <div class="row topRow">
          <span class="title" >The Team</span>
        </div>
        <div class="team container">
          <div className="imagesContainer">
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Frontend and Design</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/madhav.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Madhav Gupta</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Backend</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Dwij.JPG' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Dwij Mehta</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Guidance</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Vaibhav.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Vaibhav Garg</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
